@import "../variables";

.home {

  &__inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .home {

    &__inner {
      justify-content: center;
    }
  }

}