@import '../variables';
.category {
  margin: 1rem;

  &__inner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem;
    border: 1px solid $main-border;
    border-radius: 1rem;
  }

  &__title {

  }

  &__img {
    width: 180px;
    height:150px;
    margin: 1rem;
  }
}