@import '../variables';

.pictureBlock {
  max-width: 270px;
  margin: 1rem;

  &__inner {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid $main-border;
    border-radius: 1rem;

  }

  &__img {
    width: 250px;
    height: 200px;
    object-fit: fill;
    margin: 5px 0;
  }
}

